@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(0.7deg);
  }

  50% {
    transform: rotate(-0.7deg);
  }

  80% {
    transform: rotate(0.7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shakeLogo {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  80% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shakeImg {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(6deg);
  }

  50% {
    transform: rotate(-6deg);
  }

  80% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes skeleton {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
