$orange: #ffa500;
$lightOrange: rgba(255, 166, 0, 0.644);
$white: #ffffff;
$semiBlack: #1e1e1e;
$grey: #f2f2f2;
$backgroundGrey: #dedede;
$darkGrey: #bdbdbd;
$darkestGrey: #515151;
$background: #e5e5e5;
$green: #00a878;
$transitionIn: 0.15s ease-in;
$transitionOut: 0.15s ease-out;
